.git
.github
node_modules
vendor
.env
.env.*
!.env.example
storage/*.key
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
phpunit.xml
.phpunit.result.cache
.editorconfig
.ai
README.md
storage/backups
scripts
